!!!
html
  head
    title Missing Title
    link(href="/css/main.css", rel="stylesheet", type="text/css")
  body
    form(method='post')
      fieldset
        legend The Blog
        label(for="title", id="first") Title
          input(type='text', name='title')
        label(for="body", id="last") Body
          textarea(name='body', rows="15")
        input(type='submit', value='Post')
