!!!
html
  head
    title Missing Title
    link(href="/css/scaffold.css", rel="stylesheet", type="text/css")
  body
    h1 Listing posts
    table
      tr
        th Title
        th Content
        th(colspan="3")
      - each post in posts
        tr
          td= post.title
          td= post.body
          td: a(href="/posts/" + post.id) Show
          td: a(href="/posts/edit/" + post.id) Edit
          td: a(href="/posts/delete/" + post.id) Delete
    p
      a(href="/posts/new") New Post
