!!!
html
  head
    title Missing Title
    script(type="text/javascript")
      function deletePost(formName) {
        if (window.confirm("Are you sure?")) {
          document.forms[formName].submit();
        }
        return false;
      }
    link(href="/css/master.css", rel="stylesheet", type="text/css")
  body
    h1 Listing posts
    table
      tr
        th Title
        th Content
        th(colspan="3")
      - each post in posts
        tr
          td= post.title
          td= post.body
          td: a(href="/posts/" + post.id) Show
          td: a(href="/posts/" + post.id + "/edit/") Edit
          td
            form(name="delete_post_" + post.id, action="/posts/" + post.id + "/delete", method="post")
              a(href="javascript:deletePost('delete_post_" + post.id +  "');") Delete
              
    br
    a(href="/posts/new") New Post
