!!!
html
  head
    title= post.title
    link(href="/css/master.css", rel="stylesheet", type="text/css")
  body
    p
      b Title: 
      =post.title
    p
      b Content: 
      =post.body

    a(href="/posts/" + post.id + "/edit") Edit
    \ | 
    a(href="/posts/") Back
