!!!
html
  head
    title Missing Title
  body
    form(method='post')
      fieldset
        p
          label Title:
            input(type='text', name='title')
        p
          label Body:
            textarea(name='mybody')
        p
          input(type='submit', value='Post')