fieldset {
    font-family: verdana, helvetica, sans-serif;
    width: 300px;
    border: 1px solid #BFBAB0;
    background-color: #F0F0F0;}
    
    fieldset legend {
        font-weight: bold;}
        
    fieldset label {
        display: block;
        margin-bottom: 5px;}
        
        fieldset label {
            padding-bottom: 10px;}
            
        fieldset label#first {
            margin-top: 20px;}
                
        fieldset label#last {
            margin-bottom: 20px;}
            
            fieldset label input, fieldset label textarea {
                display: block;
                border: 1px solid #888;}
            
            fieldset label input {
                width: 200px;}
            
            fieldset label textarea {
                width: 97%;}
